html,
body,
header,
.view {
  height: 100%;
  overflow-wrap: break-word;
}
body {
  background-color: #F8F8F8;
  color: #3c4858;
}
body a {
  color: #3c4858;
}
body a:hover {
  color: #000000;
}
img[srcset] {
  object-fit: cover;
}
.hover-with-bg {
  display: inline-block;
  padding: 0.45rem;
}
.hover-with-bg:hover {
  background-color: #f8f9fa !important;
}
.visitors {
  font-size: 0.8em;
  padding: 0.45rem;
  float: right;
}
#board {
  position: relative;
  margin-top: -2rem;
  background-color: #FFFFFF;
  border-radius: 0.5rem;
  z-index: 3;
}
@media (max-width: 767px) {
  header .h2 {
    font-size: 1.5rem;
  }
  .nopadding-md {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
#local-search-result .search-list-title {
  border-left: 3px solid #0d47a1;
}
#local-search-result .search-list-content {
  padding: 0 1.25rem;
}
.page-content strong,
post-content strong {
  font-weight: bold;
}
.markdown-body {
  margin-bottom: 2rem;
}
.markdown-body strong {
  font-weight: bold;
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-bottom: 0.75em;
  margin-top: 2em;
}
.markdown-body hr {
  height: 0.2em;
  margin: 2rem 0;
}
.markdown-body strong {
  font-weight: bold;
}
.markdown-body p > img,
.markdown-body a > img > p {
  max-width: 90%;
  margin: 1.5rem auto;
  display: block;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15) !important;
}
.list-group-item {
  border: 0;
}
.page-link {
  font-size: 1.1rem;
}
.navbar {
  background-color: transparent;
  font-size: 0.875rem;
  color: #FFFFFF;
}
.navbar a {
  color: #FFFFFF;
}
.navbar a:hover {
  background-color: rgba(0,0,0,0.1);
}
.navbar-custom {
  color: #FFFFFF;
}
.navbar-custom a {
  color: #FFFFFF;
}
.top-nav-collapse {
  background-color: #F6B352;
}
.navbar-col-show {
  background-color: #F6B352;
}
@media (max-width: 767px) {
  .navbar {
    font-size: 1rem;
    line-height: 2.5rem;
  }
}
.pagination a,
.pagination .current {
  outline: 0;
  border: 0;
  background-color: transparent;
  font-size: 0.9rem;
  padding: 0.5rem 0.75rem;
  line-height: 1.25;
  -webkit-border-radius: 0.125rem;
  border-radius: 0.125rem;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.pagination a:hover,
.pagination .current {
  background-color: #eee;
}
.scroll-down-bar {
  position: absolute;
  width: 100%;
  font-size: 2rem;
  height: 6rem;
  text-align: center;
  cursor: pointer;
  bottom: 0;
}
.scroll-down-arrow {
  position: absolute;
  padding-top: 2rem;
  color: #fff;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: scroll-down 1.5s infinite;
  animation: scroll-down 1.5s infinite;
}
#scroll-top-button {
  position: fixed;
  background: #fff;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  bottom: -60px;
  -webkit-transition: bottom 0.3s ease;
  -moz-transform: bottom 0.3s ease;
  -ms-transform: bottom 0.3s ease;
  -o-transform: bottom 0.3s ease;
  transition: bottom 0.3s ease;
  outline: none;
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
#scroll-top-button i {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
#scroll-top-button:hover i,
#scroll-top-button:active i {
  -webkit-animation-name: scroll-top;
  animation-name: scroll-top;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
.scroll-top-arrow {
  margin: auto;
  font-size: 24px;
  color: #8590ab;
}
.animated-icon {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.animated-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  background: #fff;
}
.animated-icon span:nth-child(1) {
  top: 0;
}
.animated-icon span:nth-child(2) {
  top: 10px;
}
.animated-icon span:nth-child(3) {
  top: 20px;
}
.animated-icon.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.animated-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
.animated-icon.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.qr-trigger {
  cursor: pointer;
  position: relative;
}
.qr-trigger:hover .qr-img {
  display: block;
  transition: all 0.3s;
}
.qr-img {
  max-width: 200px;
  position: absolute;
  right: -100px;
  z-index: 99;
  display: none;
  box-shadow: 0 0 20px -5px rgba(158,158,158,0.2);
}
a.police-beian {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
a.police-beian img {
  margin: 0 3px;
  width: 18px;
  height: 18px;
}
@media (max-width: 320px) {
  a.police-beian span.police-beian-sep {
    display: none;
  }
}
@-moz-keyframes scroll-down {
  0% {
    opacity: 0.8;
    top: 0;
  }
  50% {
    opacity: 0.4;
    top: -1em;
  }
  100% {
    opacity: 0.8;
    top: 0;
  }
}
@-webkit-keyframes scroll-down {
  0% {
    opacity: 0.8;
    top: 0;
  }
  50% {
    opacity: 0.4;
    top: -1em;
  }
  100% {
    opacity: 0.8;
    top: 0;
  }
}
@-o-keyframes scroll-down {
  0% {
    opacity: 0.8;
    top: 0;
  }
  50% {
    opacity: 0.4;
    top: -1em;
  }
  100% {
    opacity: 0.8;
    top: 0;
  }
}
@keyframes scroll-down {
  0% {
    opacity: 0.8;
    top: 0;
  }
  50% {
    opacity: 0.4;
    top: -1em;
  }
  100% {
    opacity: 0.8;
    top: 0;
  }
}
@-moz-keyframes scroll-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-0.35rem);
    transform: translateY(-0.35rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes scroll-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-0.35rem);
    transform: translateY(-0.35rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes scroll-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-0.35rem);
    transform: translateY(-0.35rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes scroll-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-0.35rem);
    transform: translateY(-0.35rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.index-card {
  margin-bottom: 2rem;
}
.index-img {
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}
.index-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.index-header {
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0.5rem;
  margin-bottom: 0;
}
.index-btm {
  margin-bottom: 0.5rem;
}
.index-thumbnails {
  display: block;
  width: 100%;
  height: 10rem;
  object-fit: cover;
}
.index-excerpt {
  margin: 0.5rem 0 0.5rem 0;
  height: calc(1.4rem * 3);
  line-height: 1.4rem;
  overflow: hidden;
}
.index-excerpt .index-text {
  float: right;
  margin-left: -0.25rem;
  width: 100%;
  word-break: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
@media (max-width: 767px) {
  .index-info {
    padding-top: 0.5rem;
  }
  .index-header {
    font-size: 1.25rem;
    white-space: normal;
    overflow: hidden;
  }
}
.post-content {
  box-sizing: border-box;
  padding-left: 10%;
  padding-right: 10%;
  max-width: 64rem;
}
@media (max-width: 767px) {
  .post-content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (max-width: 424px) {
  .post-content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.post-content h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  display: block;
  content: "";
  margin-top: -50px;
  height: 50px;
  width: 1px;
  visibility: hidden;
}
.post-meta {
  margin: 0 0.25rem;
}
.post-meta i {
  margin: 0 0.15rem;
}
.post-prevnext {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.post-prevnext .post-prev,
.post-prevnext .post-next {
  display: flex;
}
.post-prevnext .post-prev i,
.post-prevnext .post-next i {
  font-size: 1.2rem;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.post-prevnext .post-prev a,
.post-prevnext .post-next a {
  display: flex;
  align-items: center;
}
.post-prevnext .post-prev span,
.post-prevnext .post-next span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}
.post-prevnext .post-prev:hover i,
.post-prevnext .post-prev:active i,
.post-prevnext .post-next:hover i,
.post-prevnext .post-next:active i {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
.post-prevnext .post-prev:hover i,
.post-prevnext .post-prev:active i {
  -webkit-animation-name: post-prev-anim;
  animation-name: post-prev-anim;
}
.post-prevnext .post-next:hover i,
.post-prevnext .post-next:active i {
  -webkit-animation-name: post-next-anim;
  animation-name: post-next-anim;
}
.post-prevnext .post-next {
  justify-content: flex-end;
}
.post-prevnext .fa-chevron-left {
  margin-right: 0.5rem;
}
.post-prevnext .fa-chevron-right {
  margin-left: 0.5rem;
}
@media (max-width: 424px) {
  .post-prevnext {
    display: none;
  }
}
#toc {
  padding: 3rem 0 0 0;
  height: 80%;
}
#toc p {
  visibility: hidden;
}
#tocbot {
  max-height: 100%;
  overflow-y: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
#tocbot ol {
  list-style: none;
  padding-inline-start: 1rem;
}
#tocbot::-webkit-scrollbar {
  display: none;
}
.tocbot-list ol {
  list-style: none;
  padding-left: 1rem;
}
.tocbot-list a {
  font-size: 15px;
}
.tocbot-link {
  color: #3c4858;
}
.tocbot-active-link {
  font-weight: 600;
  color: #000000;
}
.tocbot-is-collapsible {
  max-height: 1000px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}
.tocbot-is-collapsed {
  max-height: 0;
}
@media (max-width: 1024px) {
  .toc-container {
    padding-left: 0;
    padding-right: 0;
  }
}
.custom,
.comments {
  margin-top: 2rem;
}
@media (min-width: 64rem) {
  .custom,
  .comments {
    max-width: 64rem;
  }
}
.katex-block {
  overflow-x: auto;
}
@-moz-keyframes post-prev-anim {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-0.35rem);
    transform: translateX(-0.35rem);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes post-prev-anim {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-0.35rem);
    transform: translateX(-0.35rem);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-o-keyframes post-prev-anim {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-0.35rem);
    transform: translateX(-0.35rem);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes post-prev-anim {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-0.35rem);
    transform: translateX(-0.35rem);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes post-next-anim {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(0.35rem);
    transform: translateX(0.35rem);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes post-next-anim {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(0.35rem);
    transform: translateX(0.35rem);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-o-keyframes post-next-anim {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(0.35rem);
    transform: translateX(0.35rem);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes post-next-anim {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(0.35rem);
    transform: translateX(0.35rem);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.about-avatar {
  position: relative;
  margin: -8rem auto 1rem;
  max-width: 10rem;
  z-index: 3;
}
.about-avatar img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}
.category-tree-list {
  font-size: 1rem;
  list-style-type: circle;
}
.category-tree-list .category-tree-list-link {
  display: inline-block;
  padding: 0.1rem 0.55rem;
  font-weight: 350;
}
.category-tree-list .category-tree-list-count {
  padding-left: 0.5rem;
  color: #99a9bf;
  font-size: 0.75rem;
}
.category-tree-list .category-tree-list-count::before {
  content: "(";
}
.category-tree-list .category-tree-list-count::after {
  content: ")";
}
.tagcloud {
  padding: 1rem 5%;
}
.tagcloud a {
  display: inline-block;
  padding: 0.5rem;
  font-weight: 400;
}
.tagcloud a:hover {
  color: #000000 !important;
}
.links .card {
  box-shadow: none;
}
.links .card-body {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 0.3rem;
  display: block;
}
.links .card-body .row {
  margin: 0;
  height: 3.5rem;
  flex-wrap: nowrap;
}
.links .card-body:hover {
  transition-duration: 0.3s;
  background-color: #ebedef;
}
.links .card-body:hover .link-avatar {
  transform: scale(1.1);
}
.link-avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  margin-right: 0.75rem;
  object-fit: cover;
  transition-duration: 0.3s;
}
.link-text {
  display: grid;
  flex-direction: column;
  justify-content: center;
}
.link-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #2f4154;
  font-weight: bold;
}
.link-intro {
  max-height: 2rem;
  font-size: 0.85rem;
  line-height: 1.2;
  color: #a3a3a3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media (max-width: 767px) {
  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .links .card {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 768px) {
  .link-text:only-child {
    margin-left: 1rem;
  }
}
