sudo: false
language: node_js
node_js:
  - 10
cache: npm
branches:
  only:
    - master # build master branch only
script:
  - npm install -g firebase-tools
  - npm install hexo-baidu-url-submit --save
  - npm install hexo-abbrlink --save
  - npm install hexo-neat --save
  - npm install hexo-generator-feed --save
  - hexo generate
  - curl -H 'Content-Type:text/plain' --data-binary @./public/baidu_urls.txt "http://data.zz.baidu.com/urls?site=https://blog.cyfan.top&token={$BD_TOKEN}"	
  - rm -rf ./public/CNAME
  - echo "blog.cyfan.top" >> ./public/CNAME
  - firebase deploy --project=cyf-html-test --token $FIREBASE_TOKEN
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GH_TOKEN
  keep-history: true
  on:
    branch: master
  local-dir: public
