# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: 陈YFの博客(￣▽￣)"
subtitle: (｡･∀･)ﾉﾞ嗨
description: "挣扎在互联网角落的小小博客，喜欢介绍一些普通的知识"
keywords: BLOG,薅羊毛,技术,高中生,DNS,CDN,滑稽,图床
author: CYF
language: zh-CN
timezone: Asia/Shanghai

# URL
## If your site is put in a subdirectory, set url as 'http://yoursite.com/child' and root as '/child/'
url: https://blog.cyfan.top
root: /
#permalink: :year/:month/:day/:title/
permalink: p/:abbrlink.html
abbrlink:
  alg: crc32 
  rep: hex   
permalink_defaults:

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link: true # Open external links in new tab
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: true
future: true
highlight:
  enable: true
  line_number: true
  auto_detect: true
  tab_replace: true
  
 
# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  path: ''
  per_page: 10
  order_by: -date
  
# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss

# Pagination
## Set per_page to 0 to disable pagination
per_page: 10
pagination_dir: page

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
theme: fluid

# Deployment
## Docs: https://hexo.io/docs/deployment.html
deploy:
  type: git
  repo: git@gitssh.cyfan.top:ChenYFan/blog.git
  branch: master

search:
  path: search.xml
  field: post
  format: html
  limit: 10000
	
Plugins:
 - hexo-generator-baidu-sitemap
 - hexo-generator-sitemap
 - hexo-generator-cname

live2d:	
  enable: true	
  pluginRootPath: live2dw/	
  pluginJsPath: lib/	
  pluginModelPath: assets/	
  scriptFrom: jsdelivr	
  model:	
    use: https://cdn.jsdelivr.net/gh/ChenYFan/CDN@master/js/live2d-widget-model-z16/assets/z16.model.json	
  display:	
    position: left	
    width: 150 	
    height: 300	
  mobile:	
    show: false

baidusitemap:
    path: baidusitemap.xml
sitemap:
    path: sitemap.xml
baidu_url_submit:
  count: 200
  host: blog.cyfan.top
  token: QWQ
  path: baidu_urls.txt 
neat_enable: true
neat_html:
  enable: true
  exclude:
  
neat_css:
  enable: true
  exclude:
    - '**/*.min.css'

neat_js:
  enable: true
  mangle: true
  output:
  compress:
  exclude:
    - '**/*.min.js'
    - '**/jquery.fancybox.pack.js'
    - '**/index.js'  
feed:
  type: atom
  path: atom.xml
  limit: 20
