
<link href="https://cdn.jsdelivr.net/gh/qwqcode/Artalk/dist/Artalk.css" rel="stylesheet">
  <div id="ArtalkComments"></div>
  <!-- ... -->
  <script src="https://cdn.jsdelivr.net/gh/qwqcode/Artalk/dist/Artalk.js"></script>
  <script>
  new Artalk({
    el: '#ArtalkComments', // 元素选择
    placeholder: '来啊，快活啊 ( ゜- ゜)', // 占位符
    noComment: '快来成为第一个评论的人吧~', // 无评论时显示
    defaultAvatar: 'mp', // 参考 https://cn.gravatar.com/site/implement/images/#default-image
    pageKey: location.pathname,
    serverUrl: 'https://artalk.cyfan.top/index.php',
    readMore: { // 阅读更多配置
      pageSize: 15, // 每次请求获取评论数
      autoLoad: true // 滚动到底部自动加载
    }
  });
  </script>

