<% if(theme.footer.beian.enable) { %>
  <!-- 备案信息 -->
  <div>
    <a href="https://icp.gov.moe" target="_blank">萌ICP备 </a>
	<a href="https://icp.gov.moe/?keyword=2020213344" target="_blank"> 2020213344号</a>
  </div>
  <% } %>

