<% if(theme.footer.beian.enable) { %>
  <!-- 备案信息 -->
  <div class="beian">
    <a href="https://icp.gov.moe/" target="_blank"
       rel="nofollow noopener"><%- theme.footer.beian.icp_text %></a>
    <% if(theme.footer.beian.police_text && theme.footer.beian.police_code) { %>
      <a
        href="https://icp.gov.moe/?t=<%- theme.footer.beian.police_code %>"
        rel="nofollow noopener"
        class="beian-police"
        target="_blank"
      >
        <span class="beian-police-sep">&nbsp;|&nbsp;</span>

          <img src="https://i.loli.net/2020/07/28/xTga3yJCmQEXOpt.png" alt="police-icon" />

        <span><%- theme.footer.beian.police_text %></span>
      </a>
     <% } %>
  </div>
<% } %>
