<footer class="mt-5">
  <div class="text-center py-3">
    <div class="text-center py-3">
      <div>
        <a href="https://hexo.io" target="_blank" rel="nofollow noopener"><b>由强力的Hexo驱动 | </b></a>
        <i class="iconfont icon-love"></i>
        <a href="https://github.com/fluid-dev/hexo-theme-fluid" target="_blank" rel="nofollow noopener">
          <b>由可爱的Fluid支持</b></a> | <a href="https://cyfan.top">由<del>炒鸡NB的</del>CYF书写</a> | 已加入<a
          href="http://www.foreverblog.cn">十年之约</a> | 部分图片存储于<a href="https://www.dogedoge.com/">DogeDoge图床</a> | 托管于<a
          href="https://cloudflare.com">CloudFlare</a></br><a class="nav-link"
          href="javascript:window.location.host = 'blog-jsdelivr.cyfan.top'"> <b>此页面的JSDelivr托管版</a></b>
        <!--
<script src="https://v1.hitokoto.cn/?encode=js&select=%23hitokoto" defer></script>
<p id="hitokoto"><a href="#" id="hitokoto_text">:D 获取中...</a></p>-->
        <p id="showsectime"></p>
        <a href="/hpp/admin">
          <p id="bloggeractivetime"></p>
        </a>
        </script>
        <p>
          当前CDN节点: <span id="cdn">【未知】</span> |
          你的ip: <span id="ip">【未知】</span> |
          你的所在国家/地区: <span id="loc">【未知】 </span></p>

        </p>
      </div>
      <%- partial('_partial/statistics.ejs') %>
        <%- partial('_partial/beian.ejs') %>
          <% if(theme.web_analytics.cnzz) { %>
            <!-- cnzz Analytics Icon -->
            <span id="cnzz_stat_icon_<%- theme.web_analytics.cnzz %>" style="display: none"></span>
            <% } %>
    </div>
    <style>
      .live2d {
        position: fixed;
        left: -100px;
        bottom: -20px;
        width: 500px !important;
        height: 437.5px !important;
        z-index: 998;
        pointer-events:none!important;
      }
    </style>

    <div id="live2d" class="live2d" style="display: none;">
      <canvas id="live2dm" class="live2d" style="z-index: 999!important;"></canvas>
    </div>



</footer>

<!-- SCRIPTS -->
<%- partial('_partial/scripts.ejs') %>
